exercise1.exe
exercise_1.exe
exercise1.cpp
tempCodeRunnerFile.cpp
Exercise2/main
Exercise2/output
Exercise1/nul

mySolutions/Exams
mySolutions/UStrings.cpp

.vscode/
*/a.out
*/*.exe

**/a.out
**.exe

**/*.csv
main
**/main
**/*.zip